<div class="row-container">
  <div [ngSwitch]="answerType">
    <ng-container *ngSwitchCase="0">
      <input type="checkbox" />
      <custom-input height="30px" width="350px" fontSize="12px"></custom-input>
      <button class="delete-btn">
      <i class="fa fa-trash"></i>
    </button>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <input type="checkbox" />
      <custom-input height="30px" width="350px" fontSize="12px"></custom-input>
      <button class="delete-btn">
        <i class="fa fa-trash"></i>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <custom-text-area></custom-text-area>
      <button class="delete-btn">
        <i class="fa fa-trash"></i>
      </button>
    </ng-container>
  </div>
</div>
