<div class="row-container">
  <div [ngSwitch]="answerType">
    <ng-container *ngSwitchCase="0">
      <custom-input [type]="'checkbox'" [field]="'isCorrect'" (changeEvent)="changeValue($event)" [value]="option.isCorrect"></custom-input>
      <custom-input [type]="'text'" height="30px" width="350px" fontSize="12px" [field]="'text'" [value]="option.text" (changeEvent)="changeValue($event)"></custom-input>
      <button class="delete-btn" (click)="deleteOption()">
        <i class="fa fa-trash"></i>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <custom-input [type]="'checkbox'" [field]="'isCorrect'" (changeEvent)="changeValue($event)" [value]="option.isCorrect"></custom-input>
      <custom-input [type]="'text'" height="30px" width="350px" fontSize="12px" [field]="'text'" [value]="option.text" (changeEvent)="changeValue($event) "></custom-input>
      <button class="delete-btn" (click)="deleteOption()">
        <i class="fa fa-trash"></i>
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <custom-text-area></custom-text-area>
      <button class="delete-btn">
        <i class="fa fa-trash"></i>
      </button>
    </ng-container>
  </div>
</div>
