.center-placeholder {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;      /* không tác dụng với input */
  line-height: 50px;           /* canh giữa dọc (chiều cao bằng line-height) */

  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Poppins';
}

.container {
  font-family: 'Segoe UI', sans-serif;
}
