.circle-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05); /* nền tròn mờ */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.circle-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.circle-btn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
