:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2C3E50, #2F4F4F);
  background-attachment: fixed; /* Giữ gradient khi scroll */
}

.center-page {
  min-height: 100vh;
  background: linear-gradient(to bottom, #2C3E50, #2F4F4F);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 40px; /* Để nút không sát đáy */
}


.animated-wrapper {
  border: 2px dashed red;
  padding: 1rem;
}

.ready-content{
  font-family: 'Poppins', sans-serif;
}

.ready-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; /* khoảng cách giữa các phần tử */
  max-width: 600px;
  margin: 0 auto; /* căn giữa theo chiều ngang */
  padding-bottom: 5vh;
}

.animated-wrapper {
  border: 2px dashed red;
  padding: 1rem;
}

.ready-content{
  font-family: 'Poppins', sans-serif;
}

.ready-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.add-btn {
  background: #2196F3;
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  margin: 24px auto 0 auto; /* căn giữa và cách trên một chút */
  display: block;
}

