/* Reset mặc định trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.background-text{
  color: white;
}
